pkgbase = chessigma-bin
	pkgdesc = Chess game analysis, puzzles and opening training desktop app
	pkgver = 1.0.2
	pkgrel = 1
	url = https://www.chessigma.com
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	depends = alsa-lib
	optdepends = libappindicator-gtk3: system tray integration
	provides = chessigma-desktop
	conflicts = chessigma-desktop
	options = !strip
	options = !debug
	source_x86_64 = chessigma-1.0.2-x86_64.deb::https://cdn.chessigma.dev/desktop/v1.0.2/Chessigma-1.0.2-linux-amd64.deb
	sha256sums_x86_64 = 69d1a02965bbdba1febb573ec5c9e3c0e453f39021b8db570e4e3d624d96c0ec
	source_aarch64 = chessigma-1.0.2-aarch64.deb::https://cdn.chessigma.dev/desktop/v1.0.2/Chessigma-1.0.2-linux-arm64.deb
	sha256sums_aarch64 = 0285ddfd3bdcb46b8ff8f87b5f5bc32a4bdb0e94aecae843f2b15c52fb870cbf

pkgname = chessigma-bin
